/** @type {import('next').NextConfig} */
const nextConfig = {
  env: {
    EMAIL_SERVER:
      "smtp://xxx:xxx@smtp.mailjet.com:587",
    EMAIL_FROM: "signin@hackku.org",
  },
};

export default nextConfig;
