body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: "Roboto", sans-serif;
}

#navigation-bar{
    position: fixed;
    top: -5px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.nav-link{
    font-size: 25px;
    padding: 20px;
}

a {
    color: #f7b92a;
    text-decoration: none;
    margin-bottom: 10px;
}