body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-family: "Roboto", sans-serif;
}

a {
  color: #f7b92a;
  text-decoration: none;
  margin-bottom: 10px;
}
