body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  transition: opacity 0.5s ease-in 0.5s;
}

#mlh-trust-badge {
  position: fixed;
  top: -5px;
  right: 5%;
  transition: transform 0.2s;
}

#countdown {
  font-size: 5rem;
  margin: 0;
}

#mlh-trust-badge:hover {
  transform: translateY(5px) scale(1.1);
}

a {
  color: #f7b92a;
  text-decoration: none;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
}
