body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;

  font-family: "Roboto", sans-serif;
}

#mlh-trust-badge {
  position: fixed;
  top: -5px;
  right: 5%;
  transition: transform 0.2s;
}

#mlh-trust-badge:hover {
  transform: translateY(5px) scale(1.1);
}

a {
  color: #f7b92a;
  text-decoration: none;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: underline;
}
