body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#mlh-trust-badge {
  position: fixed;
  top: -5px;
  right: 5%;
  transition: transform 0.2s;
}

#mlh-trust-badge:hover {
  transform: translateY(5px) scale(1.1);
}

a {
  color: #e1b000;
  text-decoration: none;
  padding-bottom: 3px;
}

a:hover {
  font-weight: bold;
}

h1 {
  &:nth-child(5) {
    .highlight {
      color: red;
    }
  }
}
