{% extends "base.html" %} {% block title %}Admin Dashboard{% endblock %} {%
block content %}
<div class="container">
  <h1>Admin Dashboard</h1>
  <ul class="dashboard-menu">
    <li>
      <a href="{{ url_for('admin.manage_users') }}">Manage Users</a>
    </li>
    <li>
      <a href="{{ url_for('admin.manage_events') }}">Manage Events</a>
    </li>
    <li><a href="{{ url_for('admin.scan') }}">Scan In User</a></li>
    <li>
      <a href="{{ url_for('admin.review_applications') }}"
        >Review Applications</a
      >
    </li>
  </ul>
</div>
{% endblock %}
