{% extends "base.html" %} {% block title %}Edit User{% endblock %} {% block
content %}
<h1>Event Stats for {{ event.name }}</h1>
<h2>Check-Ins</h2>
<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for check_in, user in check_ins %}
    <tr>
      <td>{{ check_in.user_id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ check_in.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
