body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5%;
}

/* This is for mobile devices */
@media (max-width: 768px) {
  body {
    width: 90%;
  }
}
