/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --background-color: rgb(255, 255, 255);
}

/* Adds Jackpot font to be used */
@font-face {
  font-family: "Jackpot";
  src: url("../fonts/Jackpot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Jackpot", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("/static/assets/web_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mlh-trust-badge {
  position: fixed;
  right: 5%;
  transition: transform 0.2s;
  top: -5px;
  z-index: 1000;
  height: 20%;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 30vh;
}

#countdown {
  font-size: 3em;
  margin: 0;
}

.coming-soon {
  font-size: 2em;
}

#index-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.index-text {
  font-size: 1em;
}

.seats {
  width: 170vh;
  position: absolute;
  bottom: 0;
  will-change: transform; /* Optimize the animation performance */
  overflow: hidden; /* Prevent overflow issues */
  animation: seats 1s infinite alternate;
}

@keyframes seats {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

#mlh-trust-badge:hover {
  transform: translateY(10px) scale(1.1);
}

.logo-img {
  width: 20%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 10px;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-nav {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
}

.footer-nav a {
  margin: 0 15px;
  text-decoration: none;
}

#navigation-bar {
  position: fixed;
  top: -5px;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 25px;
  padding: 20px;
}

.code-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

#warning-box {
  margin-top: 0px;
  margin-bottom: 0px;
}

.code-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.code-list {
  margin-bottom: 0px;
  margin-top: 0px;
}

.code-paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

#photo-title {
  margin-top: 30px;
}

#rules-title {
  margin-top: 100px;
}

/* This is for mobile devices */
@media (max-width: 768px) {
  body {
    background-image: url("/static/assets/web_background_mobile.png");
    font-size: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .coming-soon {
    font-size: 1em;
  }

  .logo-img {
    width: 70%;
  }

  #mlh-trust-badge {
    position: fixed;
    transform: translateX(5%);
    height: 15%;
  }

  #countdown {
    font-size: 0.9em;
    margin: 0;
  }
  .seats {
    display: none;
  }

  .event-date {
    font-size: 0.75em;
  }

  .footer-nav {
    font-size: 0.75em;
  }

  /* .code-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #warning-box {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .code-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .code-list {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .code-paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #photo-title {
    margin-top: 30px;
  }

  #rules-title {
    margin-top: -50px;
  } */
}
