<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <nav>
    <ul>
      <li><a href="{{ url_for('main.index') }}">Home</a></li>
      <li><a href="{{ url_for('main.user_profile') }}">Profile</a></li>
      {% if session.get('user_role') == 'admin' %}
      <li>
        <a href="{{ url_for('admin.dashboard') }}">Admin Dashboard</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <body>
    <!-- MLH TRUST BANNER -->
    <a href="https://mlh.io/seasons/2025/events" target="_blank"
      ><img
        id="mlh-trust-badge"
        src="{{ url_for('static', filename='mlh-banner.svg') }}"
        alt=""
        height="20%"
    /></a>
    <!-- END OF MLH TRUST BANNER -->

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
