{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1>HackKU25 Hacker Portal</h1>
<p>Welcome to the HackKU Hacker portal!</p>
{% if application %}
<p
  class="status {% if application.application_status == 'Pending' %}pending{% elif application.application_status == 'Accepted' %}accepted{% elif application.application_status == 'Rejected' %}rejected{% endif %}"
>
  Your application status: {{ application.application_status }}
</p>
{% else %}
<div class="todo">
  <h2>To-Do List</h2>
  <ul>
    <li>
      <strong>1. Apply for HackKU 2025</strong> - Click the link below to start
      your application.
    </li>
  </ul>
  <a class="apply-btn" href="{{ url_for('application.apply') }}"
    >Fill out Application</a
  >
</div>
{% endif %} {% endblock %}
