footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer nav ul li {
  display: inline;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
}

footer p {
  margin-top: 10px;
}
